nav{
    height: 30px;
    width: 850px;
}
li{
    list-style: none;
    color: cornsilk;
    background-color: cornflowerblue;
    float: left;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    width: 100px;
}
